<div class="card" style="width: 18rem;">
    <iframe width="656" height="369" src="https://youtu.be/y9SriedTyWE?si=w_55pF22ZXEwfRzn" title="Bleach" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

    <img class="card-img-top" src="/img/aizen.png" alt="Imagem de capa do card">

    <img class="card-img-top" src="/img/zaraki.jpg" alt="Imagem de capa do card">
  